{% extends 'games/base.html' %}

{% load static %}

{% block contenido %}


<div class="container">
    <h1>Survival Horror</h1>
    <div class="card-container">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100">
                <img src="{% static '/img/ResidentEvil2.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Resident Evil 2 Remake</h5>
                    <p class="card-text">Resident Evil 2 supone la vuelta de la acción clásica, la exploración tensa
                        y las mecánicas de resolución de rompecabezas que definieron la serie. Los jugadores
                        acompañarán al policía novato Leon S. Kennedy y a la estudiante universitaria Claire
                        Redfield, que se ven atrapados en una apocalíptica epidemia en Racoon City que ha
                        transformado a su población en zombis mortíferos. Ambos personajes tienen sus propias
                        campañas jugables, lo que permite a los jugadores ver la historia desde dos puntos de vista.
                        El destino de ambos personajes, favoritos de los fans, está en manos de los jugadores, que
                        deberán hacerlos colaborar y llegar hasta el fondo de lo que se esconde tras este
                        terrorífico ataque a la ciudad. ¿Lograrán sobrevivir?.</p>
                    <div class="mt-auto"></div>
                    <p>Precio: CLP$ 35.000 </p>
                    <a href="#" class="btn btn-primary btn-comprar" data-bs-toggle="modal"
                        data-bs-target="#compraExitosaModal">Comprar</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card h-100">
                <img src="{% static '/img/DyingLight2.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Dying Light 2</h5>
                    <p class="card-text">Ya pasaron 20 años desde los acontecimientos del juego original. El virus
                        ganó y la humanidad está muriendo lentamente. Jugarás como Aiden Caldwell, un peregrino
                        errante que lleva bienes y noticias, y que conecta a los pocos asentamientos restantes en
                        los páramos devastados por el virus zombi. Sin embargo, tu verdadera misión es encontrar a
                        Mia, tu hermana menor, a quien dejaste cuando eran niños para escapar de los horripilantes
                        experimentos del Dr. Waltz. Atormentado por el pasado, decides enfrentar tus demonios cuanto
                        te enteras de que Mia podría seguir con vida en Villedor, la última ciudad de la Tierra.​
                    </p>
                    <div class="mt-auto"></div>
                    <p>Precio: CLP$ 35.990 </p>
                    <a href="#" class="btn btn-primary btn-comprar" data-bs-toggle="modal"
                        data-bs-target="#compraExitosaModal">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="compraExitosaModal" tabindex="-1" aria-labelledby="compraExitosaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="compraExitosaModalLabel">Compra Exitosa</h5>
                <a href="survival.html" type="button" class="btn-close btn-primary" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                ¡Tu compra ha sido exitosa!
            </div>
            <div class="modal-footer">
                <a href="survival.html" class="btn btn-primary">Cerrar</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const botonesComprar = document.querySelectorAll('.btn-comprar');
        botonesComprar.forEach(boton => {
            boton.addEventListener('click', function () {
                // Muestra el modal
                var modal = new bootstrap.Modal(document.getElementById('compraExitosaModal'));
                modal.show();
            });
        });
    });
</script>
{% endblock %}